    <% for( let activity of activities ) { %>
        <div class="entry">
            <div class="feed-item">
                <div class="feed-item-body">
                    <div class="checkmark">
                        <i class="fas fa-check fa-lg"></i>
                    </div>
                    <div class="item-description">
                        <p>
                            <a href="/users/<%= activity.user._id %>"><%=activity.user.username%></a> completed <%= activity.name %> on <%= activity.date.toLocaleDateString() %> at <%= activity.date.toLocaleTimeString() %>
                        </p>
                        <button><i class="fas fa-comment fa-lg"></i>
                            <%= activity.comments.length ? String(activity.comments.length).concat(" comments")
                                : "Comment" %>
                        </button>
                    </div>
                </div>
                <div class="delete-button-container">
                        <form action="/households/<%=household._id%>/activities/<%=activity._id%>?_method=DELETE"
                            method="POST">
                            <button <%= activity.user.equals(currentUser._id)? "" : "class=inactive" %>><i class="fas fa-trash fa-lg"></i></button>
                        </form>
                </div>
            </div>
            <div class="comment-area hidden">
                <div class="comment-row">
                    <div class="column">
                        <form class="add-comment-form"
                            action="/households/<%=household._id%>/activities/<%=activity._id%>/comments" method="POST">
                            <label for="body">Comment</label>
                            <textarea name="body" id="body" placeholder="Write a comment..."></textarea>
                            <button>Post comment</button>
                        </form>
                    </div>
                    <div class="column">
                        <div class="comment-area">
                            <% for (let comment of activity.comments) { %>
                                <div class="comment">
                                    <div class="comment-body">
                                        <% if (comment.user.profilePic) { %>
                                            <img class="thumbnail thumbnail-SM" src="<%=comment.user.profilePic.thumbnailSm%>" alt="">
                                            <% } else {%>
                                                <div class="thumbnail thumbnail-SM blank"><i class="fas fa-user fa-lg"></i></div>
                                                <% } %>
                                        <div class="comment-text">
                                            <p>
                                                <%= comment.body %>
                                            </p>
                                            <p class="comment-details">Posted by <span class="comment-user"><a href="/users/<%=comment.user._id%>"><%=comment.user.username%></a></span> on <%= comment.date.toLocaleDateString() %> at <%= comment.date.toLocaleTimeString() %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="delete-button-container">
                                        <% if (comment.user.equals(currentUser._id)) { %>
                                            <form
                                            action="/households/<%=household._id%>/activities/<%=activity._id%>/comments/<%=comment._id%>?_method=DELETE"
                                            method="POST">
                                            <button><i class="fas fa-trash fa-lg"></i></button>
                                        </form>
                                        <% } %>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>