<%- include("../partials/head") %>

    <body>
        <%- include("../partials/top-navbar") %>
            <%- include("../partials/flash") %>
            <div class="content">
                <%- body %>
            </div>
            <%- include("../partials/footer") %>
            <script src="/js/index.js"></script>
    </body>

    </html>