<% layout("layouts/dashboard-boilerplate") %>
<%- include("../functions/date-functions") %> 
    <div class="row">
        <div class="column">
            <%- include("../partials/priority-items") %>
        </div>
        <div class="column">
            <%- include("../partials/frequent-items") %>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card feed">
                <h3>Completed activities</h3>
                <p class="activities-more-info">starting <%= getFirstDayOfWeek().toLocaleDateString() %> | <a href="/households/<%=household._id%>/activities/">see all activities</a></p>
                <%- include("../partials/feed") %>
            </div>
        </div>
    </div>