<% layout("layouts/dashboard-boilerplate") %>
    <div class="container">
        <%- include("../partials/sidebar") %>
            <div class="dashboard-main">
                <%- include("../partials/flash") %>
                    <div class="row">
                        <div class="column">
                            <%- include("../partials/priority-items") %>
                        </div>
                        <div class="column">
                            <%- include("../partials/frequent-items") %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <%- include("../partials/feed") %>
                        </div>
                    </div>
            </div>
    </div>